# Hexlet.io Python Boilerplate
*.egg-info
__pycache__
dist/
*.pyc
.venv/
# Git Time Metric
.gtm/
# VS Code
.vscode/*
# pytest
.coverage
.mutmut-cache
htmlcov/
html/
# pre-commit
.pre-commit-config.yaml
.vscode/settings.json
